.profile-page {
  background-color: black;
  width: 100%;
}

.profile {
  padding: 40px 40px 40px 340px;
  flex-direction: column;
  display: flex;
  padding-top: 86px;
}

.profile-title {
  margin: 0;
  padding-top: 20px;
  color: white;
  font-size: 30px;
}
