.pagination-container {
  display: flex;
  list-style-type: none;
  margin: 40px;
}

.pagination-item {
  padding: 0 15px;
  height: 40px;
  text-align: center;
  margin: auto 6px;
  color: white;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01075em;
  border-radius: 20px;
  line-height: 1.45;
  font-size: 16px;
  min-width: 40px;
}

.pi-dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-item:hover {
  background-color: #583a70;
  cursor: pointer;
}

.pi-selected {
  background-color: #b261f1;
}

.arrow {
  position: relative;
  /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
  content: "";
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid white;
  border-top: 0.12em solid white;
}

.left {
  transform: rotate(-135deg) translate(-50%);
}

.right {
  transform: rotate(45deg);
}

.pi-disabled {
  pointer-events: none;

  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pi-disabled:hover {
  background-color: transparent;
  cursor: default;
}
