.product-page {
    background-color: black;
    padding-top: 86px;
    color: white;
  }

  .similar{
    background: black;
    height: 100%;
    padding-left: 139px;
    padding-right: 139px;
    margin-bottom: 35px;
  }