.trending-footer {
  background-color: #212121;
  width: calc(100% - 380px);
  background-color: #212121;
  margin-top: 5px;
  border-radius: 10px 10px 0px 0px;
}

.tfooter-head {
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  margin: 40px 40px 0px 40px;
  justify-content: space-between;
  color: white;
}

.tfooter-description {
  display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-top: 15px;
    justify-content: space-between;
}

.tfooter-end {
  display: flex;
  flex-direction: row;
  margin: 0px 40px 40px 40px;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 15px;
}

.tback-to-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tto-top-btn{
  background: none;
  border:solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #504b4b;
  height: 38px;
  width: 187px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: white;
  cursor: pointer;
  
}
