.landing-page {
  background-color: black;
}

.Hero {
  flex-direction: row;
  padding-top: 86px;
  display: flex;
  justify-content: space-around;
}

.Header {
  padding: 20px;
  width: 40%;
  color: white;
  background-color: black;
}

.Hero-pic {
  padding: 20px;
  width: 40%;
  color: white;
  background-color: black;
}
