.trending-page {
  background-color: black;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  color: white;
}

.trending {
  padding: 40px 40px 40px 340px;
  flex-direction: column;
  display: flex;
  padding-top: 86px;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.trending-title {
  margin-bottom: 5px;
}
