.trending-products {
  width: calc(100% - 380px);
  background-color: #212121;
  /* height: 100%; */
  margin-top: 25px;
  border-radius: 10px;
}

.tp-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tp-items {
  /* height: 500px; */
  margin: 0px 40px;
  /* display: flex;
  flex-wrap: wrap; */
  gap: 20px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
}
