.wishlist-products {
  width: 100%;
  background-color: #212121;
  margin-top: 25px;
  border-radius: 10px;
  color: white;
}

.wp-items {
  margin: 0px 40px;
  gap: 20px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
}
