.login-page {
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
}
.login-page .card {
  /* width: 66%; */
  width: 35%;
  margin-left: 10%;
  align-items: center;
}
.login-page .card .one{
  margin-top: -50px;
}
.login-page .card .titles{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 140px;
}
.login-page .featured{
  width: 35%;
  margin-left: 10%;
}
.login-page .input-field{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.login-page .input-field input{
  width: 100%;
  background: #686262;
  border-radius: 20px;
  height: 70px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}
.login-page .input-field input[type=text]{
  padding-left: 20px;
}
.form-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  padding-left: 30px
}
.sub-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.sub-login .register{
  margin-top: 35px
}
.submit-login{
  background: #ab5cd6;
  border-radius: 20px;
  height: 70px;
  width: 102%;
  margin-left: 2%;
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.register{
  background: #ab5cd6;
  border-radius: 20px;
  height: 70px;
  width: 102%;
  margin-left: 2%;
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
hr {
    width: 100%;
    border: 2px solid #686262;
}
.sub-login p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #AB5CD6;
}
.login-page .errors{
  color: #ab5cd6;
  font-size: 25px;
  margin-bottom: 80px;
  margin-top: -60px;
}
.login-page .error{
  color: #ab5cd6;
  font-size: 20px;
  font-weight: 700;
}
